<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./index.css">
		<title>Document</title>
	</head>
	<body>
		<div id="app">

			<div class="username">
				<input type="text" placeholder="用户名" v-model="name">
			</div>
			<div class="mail">
				<input type="text" placeholder="邮箱" v-model="mail">
			</div>
			<div class="upload-btn" @click="handelUpload">上传</div>
			<div class="show-btn" @click="handelShow">显示任务信息</div>
			<ul class="person-list" v-if="personList.length">
				<li class="person" v-for="person in personList">
					<span>{{ person.name }}</span>
					<span>{{ person.mail }}</span>
				</li>
			</ul>
		</div>
		<script src="./axios.js"></script>
		<script src="./vue.js"></script>
		<!-- <script src="./vue-resource.js"></script> -->
		<script type="text/javascript">
			axios.defaults.baseURL = 'https://developer.duyiedu.com/vue';
			const vm = new Vue({
				el: "#app",
				data: {
					name: '',
					mail: '',
					msg: '',
					personList: []
				},
				methods: {
					handelUpload() {
						const {
							name,
							mail
						} = this;
						axios.post('/setUserInfo', {
							name,
							mail
						}).then(res => {
							this.msg = res.data.msg
						}).catch(error => {
							// this.msg = error.msg;
						})
					},
					handelShow() {
						// axios({
						// 	method: 'get',
						// 	url: '/getUserInfo'
						// }).then(res => {
						// 	this.msg = res.data.msg;
						// 	this.personList = res.data.data;
						// })
						axios.all([
							axios.post('/setUserInfo', {
								name: 'ddd',
								mail: 'fff'
							}),
							axios.get('/getUserInfo'),
						]).then(axios.spread((postRes, getRes) => {
							console.log(postRes);
							this.personList = getRes.data.data;
							console.log(getRes);
						}))
					}
				},
				watch: {
					msg() {
						if (this.msg === '') {
							return
						}
						alert(this.msg);
						this.msg = '';
					}
				}

			})
		</script>
	</body>
</html>
